* {
    margin: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

header {
    height: 9vh;
}

#game-board {
    height: 80vh;
    border: 5px black solid;
}

#player {
    box-sizing: border-box;
    height: 8vh;
    width: 8vh;
    background-color: black;
    position: absolute;
    z-index: 4;
}

.row {
    height: 10vh;
}
.row.water {
    background-color: blue;
}
.row.grass {
    background-color: greenyellow;
}
.row.street {
    background-color: darkgray;
}

.car {
    background-color: red;
    height: 10vh;
    width: 10vh;
    position: relative;
    left: -11vh;
    transition: left 10s linear;
}

.bus {
    background-color: navy;
    height: 10vh;
    width: 20vh;
    position: relative;
    left: -21vh;
    transition: left 10s linear;
}
.log {
    background-color: brown;
    height: 10vh;
    width: 30vh;
    position: relative;
    left: -31vh;
    transition: left 10s linear;
}

#spotify-player {
    height: 9.9vh;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

#spotify-player img {
    height: 100%;
    display: block;
}

#spotify-player .track-info {
    display: flex;
    align-items: center;
}

p {
    margin: 0px 2px;
}
